<!DOCTYPE html>
<html ng-app="calc">
<head>
    <title>Calc app</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body class="container">
    <h2 class="text-info">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        Shopping cart
    </h2>
    <hr>
    <form ng-controller="cartCtrl as cart">
        <div class="form-group">
            <label>Base price</label>
            <input type="text" ng-model="cart.price" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="cart.inclTax"> include tax
            </label>
        </div>
        <div class="form-group" ng-show="cart.inclTax">
            <label>Tax</label>
            <output class="form-control" readonly>{{cart.tax|number:2}} SEK</output>
        </div>
        <div class="form-group">
            <label>Shipping</label>
            <select class="form-control" ng-model="cart.shipping" ng-options="s.name for s in cart.shippingOptions"></select>
        </div>
        <div class="form-group">
            <label>Total cost</label>
            <output class="form-control" readonly>{{cart.total|number:2}} SEK</output>
        </div>
    </form>
    <script src="node_modules/angular/angular.js"></script>
    <script src="calc.ctrl.js"></script>
</body>
</html>
