<!DOCTYPE html>
<html ng-app="calcApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script>
    angular.module('calcApp', [])
        .controller('calcCtrl', function($scope) {
            $scope.shipping_options = [
                { name: 'Flat Rate', cost: 10 },
                { name: 'Express', cost: 20 },
                { name: 'Super Express', cost: 30 }
            ];
            $scope.price = 0;
            $scope.incl_tax = true;
            $scope.shipping = $scope.shipping_options[0];
            $scope.$watch('price', updateView);
            $scope.$watch('incl_tax', updateView);
            $scope.$watch('shipping', updateView);
            function updateView() {
                $scope.tax = $scope.incl_tax ? $scope.price * 0.23 : 0;
                $scope.total = parseFloat($scope.price) + $scope.tax + $scope.shipping.cost;
            }
        });
    </script>
</head>
<body class="panel-body" ng-controller="calcCtrl">
    <div class="form-group">
        <label>Price net</label>
        <input type="text" ng-model="price" class="form-control">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="incl_tax"> include tax
        </label>
    </div>
    <div class="form-group" ng-show="incl_tax">
        <label>Tax</label>
        <output class="form-control" readonly>{{tax|number:2}} PLN</output>
    </div>
    <div class="form-group">
        <label>Shipping</label>
        <select class="form-control" ng-model="shipping" ng-options="s.name for s in shipping_options"></select>
    </div>
    <div class="form-group">
        <label>Total</label>
        <output class="form-control" readonly>{{total|number:2}} PLN</output>
    </div>
</body>
</html>